<h2>Lights</h2>
<div>
  <input  #lightName value="Light name" onfocus="this.value=''" />
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(lightName.value); lightName.value=''">
    add
  </button>
  <button (click)="goBack()">go back</button>
</div>li

<ul class="lights">
  <li *ngFor="let light of lights">
    <a routerLink="/detail/{{light.id}}">
      <span class="badge">{{light.id}}</span> {{light.name}}
    </a>
    <button class="delete" title="delete light"
            (click)="delete(light)">x</button>
  </li>
</ul>
