<mat-card *ngIf="light" class="lightDetailCardContainer">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{light.name | uppercase}} Details</mat-card-title>
    <mat-card-subtitle>Pin id: {{light.id}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <label>
      Name:
      <input matInput  [(ngModel)]="light.name" placeholder="name"/>
    </label>

    <h3>Current Brightness</h3>
    <mat-slider [(ngModel)]="light.brightness" [max]="3"
                [min]="1"
                [tickInterval]="1"
    ></mat-slider>

  </mat-card-content>
  <mat-card-actions>
    <button (click)="close()" mat-button>Close</button>
  </mat-card-actions>
</mat-card>

