<h2>Lights</h2>

<div class="device">
  <div class="" *ngFor="let light of lights">
    <div class="internalRow"
         [class.switched]="light === switchedLight"
         (click)="onSwitch(light)"
    >

      <div class="newBadge">

        <mat-icon *ngIf="light.state">brightness_7</mat-icon>
        <mat-icon *ngIf="!light.state">brightness_1</mat-icon>

      </div>

      <div class="deviceName">{{light.name}}</div>

      <div class="">
        <button (click)="showOptions(light)" mat-icon-button>
          <mat-icon aria-label="Light Options">info</mat-icon>
        </button>
      </div>

    </div>

  </div>

</div>
<div *ngIf="switch">

</div>


<app-light-detail [light]="switchedLight"></app-light-detail>
