<h1>Maps</h1>

<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->


<!--<iframe width="600" height="450" frameborder="0" style="border:0"-->
        <!--src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJPaImb4O8cEgRcp1Xvy-pcR0&key=AIzaSyBTXSZtGchCgoBI3mVHE8l1hlHBb2LWqzQ" allowfullscreen></iframe>-->


<!-- Mobile Google map; IFrame version for easier access to personalised directions -->

<div class="iframe-rwd">
  <iframe id="googleMapMobVers" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1216.03369457963!2d-1.8878876601373722!3d52.48691366998016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc9ae4f2e4b3%3A0x9a670ba18e08a084!2sAston+University!5e0!3m2!1sen!2suk!4v1496689121598" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
