
.selectionList {
  &_internalRow:hover {
    cursor: pointer;

  }

  &_internalRow:active {
    background: #e5e5e5;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 5px #c1c1c1;
    -moz-box-shadow: inset 0 0 5px #c1c1c1;
    box-shadow: inset 0 0 5px #c1c1c1;
    outline: none;
  }

  &_internalRow {
    display: flex;
    width: 40vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    border-radius: 4px 0 0 4px;
    //background-color: DDD;
    margin-bottom: 1vh;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;

  }

  &_internalRow:first-child {
    margin-right: auto;
  }

  &_newBadge {
    background-color: #BBD8DC;
    min-width: 35px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
  }

  &_deviceName {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 10px;

  }

}

.device {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.device li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.device .text {
  position: relative;
  top: -3px;
}


