

<nav mat-tab-nav-bar
     mat-align-tabs="center"
     animationDuration="500ms">

  <span *ngFor="let link of navLinks">

  <a mat-tab-link

     [routerLink]="['/'+link.path]"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>

  <mat-icon *ngIf="link.hasNotification" matBadge="{{link.notificationCount}}" matBadgeColor="accent" matBadgePosition="below before"></mat-icon>

  </span>

</nav>

  <router-outlet></router-outlet>
  <app-messages></app-messages>

