<!--const electron = require('electron');-->
<!--const { ipcRenderer } = electron;-->

<div class="content">

  <button id="lightBtnOn" role="button">Light On</button>
  <button id="lightBtnOff" role="button">Light Off</button>
  <div class="bg"></div>

</div>

<app-digital-clock></app-digital-clock>

<ul></ul>

<script>

  document.getElementById("lightBtnOn").addEventListener("click", function () {
    console.log("Requesting LED ON");
    require('electron').ipcRenderer.send('lightChannel', {lightState:1});

  });

  document.getElementById("lightBtnOff").addEventListener("click", function () {
    console.log("Requesting LED OFF");
    require('electron').ipcRenderer.send('lightChannel', { lightState: 0 });

  });

</script>
